@{
    ViewBag.Title = "Página Inicial";
}

<div class="jumbotron">
    <h1>App Contatos</h1>
    <p class="lead">App Contatos é uma aplicação para que o usuário possa salvar com segurança os dados dos seus contatos.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cadastro de Pessoas</h2>
        <p>Nessa interface você poderá salvar as informações principais do seu contato, como por exemplo: nome, sexo e data de nascimento.</p>
    </div>
    <div class="col-md-4">
        <h2>Cadastro de Telefones</h2>
        <p>Nessa interface você poderá salvar os telefones de um contato em específico.</p>
    </div>
    <div class="col-md-4">
        <h2>Cadastro de Emails</h2>
        <p>Nessa interface você poderá salvar os emails de um contato em espefífico.</p>
    </div>
</div>